 body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
header {
    padding: 50px;
    width: 100vw;
    height: 20vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_burguer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(255, 255, 255); */
    height: 8vh;
    width: 5vw;
}
.menu_burguer img {
    height: 30px;
    width: 40px;
}
.porsche_title {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(241, 238, 238); */
    height: 11vh;
    width: 19vw;
    margin-left: 180px;
}
.porsche_title img {
    height: 17px;
}
.user_content{
    /* background-color: black; */
    height: 10vh;
    width: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile_icon {
    /* background-color: rgb(1, 115, 255); */
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.localization {
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    font-size: 17px;
    height: 50px;
    width: 200px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
}
.localization img {
    width: 20px;
    height: 20px;
}

.faixa {
    padding: 50px;
    display: flex;
    background-color: gray;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}
.seta_model_over_view {
    background-color: white;
    height: 10vh;
    width: 5vw;
}
.salvar_configuracao {
    background-color: white;
    height: 10vh;
    width: 5vw;
}






















main {
    background-color: rgb(236, 63, 0);
    height: 80vh;
    width: 100vw;
}
footer {
    background-color: blueviolet;
    height: 20vh;
    width: 100vw;
}