 body {
    display: flex;
    flex-direction: column;
}
header {
    width: 100vw;
    height: 20vh;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu_burguer {
    background-color: black;
    height: 50px;
    width: 50px;
}
.porsche_title {
    background-color: black;
    height: 50px;
    width: 100px;
}
.user_content{
    background-color: black;
    height: 100vh;
    width: 25vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile_icon {
    background-color: rgb(1, 115, 255);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.localization {
    background-color: rgb(1, 115, 255);
    width: 200px;
    height: 100px;
}






















main {
    background-color: rgb(236, 63, 0);
    height: 80vh;
    width: 100vw;
}
footer {
    background-color: blueviolet;
    height: 20vh;
    width: 100vw;
}