 body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
header {
    padding: 50px;
    width: 100vw;
    height: 20vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_burguer {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(255, 255, 255); */
    height: 8vh;
    width: 5vw;
}
.menu_burguer img {
    height: 30px;
    width: 40px;
}
.porsche_title {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(241, 238, 238); */
    height: 11vh;
    width: 19vw;
    margin-left: 180px;
}
.porsche_title img {
    height: 17px;
}
.user_content{
    /* background-color: black; */
    height: 10vh;
    width: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.profile_icon {
    /* background-color: rgb(1, 115, 255); */
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.localization {
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    font-size: 17px;
    height: 50px;
    width: 250px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
.localization img {
    width: 20px;
    height: 20px;
}

.faixa {
    padding: 50px;
    display: flex;
    /* background-color: gray; */
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}
.faixa img {
    height: 2vh;
}
.seta_model_over_view {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    height: 10vh;
    width: 10vw;
    font-size: 17px;
}
h1 {
    font-size: 56px;
}

.salvar_configuracao {
    gap: 10px;
    display: flex;
    align-items: center;
    /* background-color: white; */
    height: 10vh;
    width: 10vw;
    font-size: 17px;
}
.conteudo_principal {
    /* background-color: #f8f8f8; */
    display: flex;
    width: 100vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
}
.porsche_car_img {
    position: absolute;
    display: flex;
    width: 100vw;
    z-index: -1;
    justify-content: center;
    top: 0;
}
.porsche_car_img img {
    width: 100vw;
}
.container_setas{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
.tamanho1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    background-color: #fff;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0px 10px 70px grey;
}
.tamanho2 {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px 0px 0px 50px;
    box-shadow: 0px 10px 70px grey;
}
.seta_direita{
    width: 30px;
    height: 30px;
    /* background-color: #fff; */

}
.seta_esquerda{
    width: 30px;
    height: 30px;
    /* background-color: #fff; */

}
main {
    /* background-color: rgb(236, 63, 0); */
    height: 80vh;
    width: 100vw;
}

footer {
    background-color: blueviolet;
    height: 20vh;
    width: 100vw;
}